:root {
    /* colors */
    --black: rgb(3, 1, 21);
    --dark-gray: rgb(0, 0, 28);
    --dark-blue: rgb(6, 6, 70);
    --yellow: rgb(255, 255, 0);
    --green: rgb(76, 187, 23);
    --platinum: rgb(229, 228, 226);
    --vanilla: rgb(243, 229, 171);

    /* font */
    --main-font: 'Indie Flower', cursive;
}

* {
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}

body {
    background: linear-gradient(0deg, var(--black) 0%, var(--dark-gray) 50%, var(--dark-blue) 100%);
    color: var(--platinum);
    font-family: var(--main-font);
    font-size: 1rem;
    font-weight: 700;
    height: 100dvh;
}

header {
    display: flex;
    justify-content: center;
    align-items: end;
}

h1 {
    font-size: 5rem;
}

h3 {
    color: var(--vanilla);
}

h4 {
    font-size: 2rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 3rem;
}

.players-input-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 3rem;
}

.player-input-container {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.players-section-label {
    font-size: 2rem;
    color: var(--yellow);
}

.players-section-input {
    font-size: 1.5rem;
    text-align: center;
    border-radius: 1rem;
    padding: .3rem;
}

.players-section-input:focus {
    outline: none;
    box-shadow: none;
}

.buttons {
    background-color: var(--yellow);
    font-family: var(--main-font);
    border: none;
    border-radius: 1.5rem;
    font-size: 2rem;
    padding: .5rem 1rem;
}

.buttons:hover {
    background-color: var(--platinum);
}

.buttons:active {
    background-color: var(--black);
    color: var(--platinum);
}

.player-turn-section {
    color: var(--yellow);
    min-height: 64px;
}

.new-match-section {
    display: flex;
    gap: 3rem;
}

.gameboard-section {
    display: flex;
    gap: 7rem;
}

.player-score-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
}

.name,
.winning-message {
    font-size: 2rem;
}

.score {
    font-size: 3.5rem;
    color: var(--yellow);
}

.squares-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border-radius: .5rem;
}

.squares {
    font-size: 8.8rem;
    font-family: var(--main-font);
    min-width: 210px;
    min-height: 210px;
    border: .1rem solid var(--black);
}

.squares:disabled {
    background-color: var(--platinum);
    color: var(--black);
}

.highlighted-squares {
    background-color: var(--platinum);
    color: var(--platinum);
}

.highlighted-squares:disabled {
    background-color: var(--green);
    color: var(--black);
}

.hidden-section {
    display: none;
}