:root {
    /* colors */
    --black: rgb(3, 1, 21);
    --dark-gray: rgb(0, 0, 28);
    --dark-blue: rgb(6, 6, 70);

    /* font */
    --main-font: 'Indie Flower', cursive;
}

* {
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}

body {
    background: linear-gradient(0deg, var(--black) 0%, var(--dark-gray) 50%, var(--dark-blue) 100%);
    color: aquamarine;
    font-family: var(--main-font);
    font-size: 1rem;
    font-weight: 700;
    height: 100dvh;
}

header, 
footer {
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.players-section {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.squares-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border: .5rem solid black;
    border-radius: .5rem;
}

.squares {
    padding: 7rem;
    border: none;
}

#square-one,
#square-four,
#square-seven {
    border-right: .7rem solid black;
}

#square-three,
#square-six,
#square-nine {
    border-left: .7rem solid black;
}

#square-one,
#square-two,
#square-three {
    border-bottom: .7rem solid black;
}

#square-seven,
#square-eight,
#square-nine {
    border-top: .7rem solid black;
}